body {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 2em;
    color: #333;
}

h3 {
    font-size: 1em;
    color: #003366;
    margin-top: 5px; 
}

.content {
    flex: 1;
    padding: 10px;
    min-width: 300px;
}

.model {
    flex: 2;
    padding: 10px;
    min-width: 300px;
}

.input-group {
    margin-bottom: 10px;
    text-align: center;
}

.display-area {
    text-align: center;
    justify-content: flex;
}

.surface-area {
    border: 1px solid #000;
    padding: 10px;
    margin-top: 10px;
    display: inline-block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.arc-length {
    border: 1px solid #000;
    padding: 10px;
    margin-top: 10px;
    display: inline-block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.toggle-group {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.buttons {
    text-align: center;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column; /* По умолчанию кнопки расположены вертикально */
}

button.styled-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(135deg, #43a047, #66bb6a);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    transition: background 0.3s ease, transform 0.3s;
}

button.styled-button:hover {
    background: linear-gradient(135deg, #66bb6a, #43a047);
    transform: translateY(-2px);
}

button.styled-button:active {
    transform: translateY(0);
}

.lock-icon {
    margin-right: 8px;
}

.button-text {
    margin-right: 8px;
}

.price {
    background: #2e7d32;
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 14px;
}

@media (max-width: 768px) {
    body {
        flex-direction: column;
    }
}

@media (min-width: 768px) {
    .buttons {
        flex-direction: row; /* На десктопной версии кнопки расположены горизонтально */
    }

    .buttons button {
        margin-right: 10px; /* Добавляем промежуток между кнопками */
    }
}
