body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh; 
}

.sidebar {
    flex: 1;
    padding: 20px;
    background-color: #f8f8f8; 
    overflow-y: auto; 
}

.main-content {
    flex: 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.model {
    width: 100%;
    height: 80vh; 
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.images-description {
    display: flex;
    align-items: center;
    text-align: left;
    width: 100%;
}

.images-description-mobile {
    display: flex;
    align-items: center;
    text-align: left;
    width: 100%;
    flex-direction: column; 
    justify-content: center; 
}

.image-container {
    display: flex;
    flex-shrink: 0;
    gap: 20px;
    margin-right: 20px;
}

.image-container-mobile {
    display: flex;
    flex-shrink: 0;
    gap: 20px;
    margin-right: 20px;
    text-align: center;
}

.image-container img {
    max-width: 100px;
    height: auto;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.image-container-mobile img {
    max-width: 100px;
    height: auto;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.image-text {
    flex-grow: 1;
}

.images-description p {
    color: #666;
    font-size: 1em;
    margin: 0;
}

h1, h3 {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    color: #333;
}

h3 {
    margin-top: 10px;
    font-size: 1em;
    color: #003366;
}

.info {
    margin-bottom: 20px;
    text-align: center;
}

.input-group-container {
    margin-top: 20px;
    text-align: center;
}

.input-group {
    margin-bottom: 10px;
    display: inline-flex;
}

.input-group label, .input-group input {
    display: block;
    width: 100%;
    max-width: 200px;
    margin-bottom: 5px;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-around;
}

button.styled-button {
    width: 100%;
    max-width: 200px;
    background-color: transparent;
    color: #333;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

button.styled-button:hover {
    background-color: #f0f0f0;
    transform: translateY(-2px);
}

button.styled-button:active {
    transform: translateY(0);
}

#generatePatternButton {
    background: linear-gradient(45deg, #e0e0e0, #b3b3b3); 
    font-weight: bold;
    color: #333; 
    text-shadow: none; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    border: 1px solid #ccc; 
    position: relative;
    overflow: hidden;
}

#generatePatternButton::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    transform: skewX(-30deg);
    transition: left 0.5s ease;
}

#generatePatternButton:hover::before {
    left: 100%;
}

#generatePatternButton:hover {
    background: linear-gradient(45deg, #b3b3b3, #e0e0e0); 
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); 
}

.product-description {
    color: #666; 
    margin-top: 20px; 
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.product-description h3 {
    color: #333; 
    margin-bottom: 10px;
}

.product-description p,
.product-description ul {
    margin: 10px 0;
    line-height: 1.6; 
}

.product-description ul {
    padding-left: 20px;
}

.product-description ul li {
    margin-bottom: 10px;
}

.desktop-only {
    display: block;
}

.mobile-message {
    display: none;
}

#desktop-only {
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .container > * {
        display: none;
    }

    .mobile-message {
        display: block;
        margin: 20px;
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
        color: #666;
    }

    .mobile-message h3 {
        color: #333;
        margin-bottom: 10px;
    }
}
